body{
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fff;
}

img{
  max-height: 94vh;
}

#small-nav{
  display: none
}

#movie-poster{
  max-height: 90vh;
  margin-bottom: 1rem;
  max-width: 100%;
}

#trailer{
  max-width: 100%;
}

.detail{
  font-size: 1.2rem;
}

#storyline{
  font-size: 1rem;
}

.bold-listing{
  font-weight: bold;
  font-size: 1.5rem;
}

.movie-poster{
  max-height: 10vh;
}

#add{
  max-height: 3rem;
}

.heading{
  color: grey;
}

.header{
  text-decoration: underline;
}


@media screen and (max-width: 1213px) {

  .detail{
    font-size: .8rem;
  }

  iframe{
    display: none;
  }

  #movie-poster{
    max-width: 90vw;
    max-width: 100%;
  }

  .list-items{
    font-size: 12px;
  }

  .movie-poster{
    display: none;
  }

  #trailer{
    max-width: 90vw;
  }

  #small-nav{
    display: block;
  }

  #large-nav{
    display: none;
  }
}
